<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Product Search Page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" type="text/css" href="/styles/master.css">
	<link rel="stylesheet" type="text/css" href="/styles/productSearch.css">

	<script type="text/javascript" src="/scripts/master.js" defer></script>
	<script type="text/javascript" src="/scripts/productSearch.js" defer></script>
</head>

<body>
	<div class="header">
		<h1 class="primary-message">Product Search</h1>
	</div>

	<div id="main" class="main">
		<div id="error" th:class="${#strings.isEmpty(errorMessage)} ? hidden : ''">
			<h4 id="errorMessage" class="error-message" th:text="${errorMessage}"></h4>
		</div>
		<form action="/" method="POST" onsubmit="return validateForm();" class="inputContent">
			<div>
				<input id="productSearch" type="text" name="productSearch" placeholder="Product" class="update" th:value="${productSearch}" />
			</div>
			<br /><br />
			<div>
				<input type="submit" value="Search" class="submit" />
			</div>
		</form>
		
				</li>
			</ul>
		</div>
	</script>
	
</body>

</html>
