<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Shopping Cart</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" type="text/css" href="/styles/master.css">
	<link rel="stylesheet" type="text/css" href="/styles/transaction.css">

	<script type="text/javascript" src="/scripts/master.js" defer></script>
	<script type="text/javascript" src="/scripts/transaction.js" defer></script>
</head>
<body>
	<h1>Shopping Cart</h1>
	<table id="table">
		<tr>
			<th>Item</th>
			<th>Price</th>
			<th>Quantity</th>
		</tr>
		<tr>
			<th>Book</th>
			<th>$5.00</th>
			<th><input type="text" class="quantity"><button type="button" class="remove">Remove</button></th>
    </tr>
    <tr>
			<th>CD</th>
			<th>$15.00</th>
			<th><input type="text" class="quantity"><button type="button" class="remove">Remove</button></th>
    </tr>
    <tr>
			<th>Shirt</th>
			<th>$20.00</th>
			<th><input type="text" class="quantity"><button type="button" class="remove">Remove</button></th>
	</tr>
	</table>
	<br>
	<p id="quantitySum"></p>
  <button type="button" class="button" id="checkout">Checkout</button>
  <button type="button" class="button" id="addItem">Add Item</button>
  <button type="button" class="cancel" id="cancel">Cancel Transaction</button>
</body>
</html>