<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Shopping Cart</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" type="text/css" href="/styles/master.css">
	<link rel="stylesheet" type="text/css" href="/styles/transactionSummary.css">

	<script type="text/javascript" src="/scripts/master.js" defer></script>
	<script type="text/javascript" src="/scripts/transactionSummary.js" defer></script>
	<script>
		function myFunction() {
	  document.getElementById("totalCount").innerHTML = 2;
	  document.getElementById("totalPrice").innerHTML = "$3.25";
		}
	  </script>
</head>
<body onload="myFunction()">
	<div class="header">
		<h1 class="primary-message">Shopping Cart</h1>
	</div>
	<div class="cart">
		<table id="table2" class="table">
			<tr>
				<th>Item</th>
				<th>Price</th>
				<th>Quantity</th>
				<th>Remove Item</th>
			</tr>
			<tr th:each="transaction : ${transactions}">
				<td th:text="${transaction.productId}"></td>
				<td th:text="${transaction.price}"></td>
				<td><input type="number" class="quantity" value="${transaction.quantity}"></td>
				<td><button type="button" class="remove">Remove</button></td>
			 </tr>
		</table>

	</div>
	<br>
	<p id="quantitySum"></p>
  <button type="button" class="button" id="checkout">Checkout</button>
  <button type="button" class="button" id="addItem">Add Item</button>
  <button type="button" class="cancel" id="cancel">Cancel Transaction</button>
  <br>

  <!-- work on total quantity and total price in cart -->
 
  <h5>total product count: </h5>
  <h4>total price: </h4>

  	<div class="hidden">
		<input id="transactionId" type="hidden" th:value="${transactionId}" />
	</div>
</body>
</html>